<!DOCTYPE html>
<html lang="en">
    <head>
    {{- block "head" . -}} {{- end -}}
    </head>
    <body>
        <header>
        {{- block "title" . -}}
        <h2 class="page-title">{{- $.Title -}}{{- partial "rss_link.html" . -}}</h2>
        {{- end -}}

        {{- block "header" . }}
        {{- partial "header.html" . -}}
        {{- end -}}
        </header>
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        <footer>
        {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
