{{/*
Construct labels for toggling a tag filter on/off

Arguments are in a dictionary:
 * .filter_tags - Filter tag tag-pages as a list. Default: empty slice
 * .filter_tags_str - Same as above, overwrites above, allows specifying tags as strings 
  rather than by tag page nya
*/}}

{{ $filter_tags_scr := newScratch }}
{{ $filter_tags_scr.Set "res" (.filter_tags | default (slice)) }} 
{{ partial "fn/stringize_terms" $filter_tags_scr }}
{{ partial "fn/deduplicate_slice" $filter_tags_scr }}
{{ $filter_tags_str := .filter_tags_str | default ($filter_tags_scr.Get "res") }}

{{ if gt (len $filter_tags_str) 0 }}
    {{ $vistoggle_id := "tag-filter-list-buttons" }}
    <aside class="window-title-block">
        {{ partial "controls/basic-visibility-toggle/input.html" (dict "id" $vistoggle_id "extra_css_classes" "window-ignore") }}
        {{ partial "controls/basic-visibility-toggle/label-start.html" (dict "id" $vistoggle_id "extra_css_classes" "window-title") }}
        <h5 class="window-title"> FILTERS </h5>
        {{ partial "controls/basic-visibility-toggle/label-end.html" }}
        <div 
            class='window-block-start window-block-end {{ partial "controls/basic-visibility-toggle/hideable-content-classes.html" }}'>
    {{ range $taxo := $filter_tags_str }} 
        {{ $toggler_id := (print "toggle-button-for-" $taxo) | urlize}}
        <span 
            class='{{- partial "tagfilter/tag_filter_css_class_gen.html" (dict "tags_str" (slice $taxo) "strikethrough" true "is_annotation" true) -}}'
            tabindex="0"
            role="label"
            onkeypress="document.getElementById('{{- $toggler_id -}}').click()"
        >
            <label class="annotation-tag-filter-button" for="{{- $toggler_id -}}">{{- $taxo -}}</label>
        </span>
    {{ end }}
        </div>
    </aside>
{{ end }}
