{{/*
Generate a simple tag annotation linking to the tag page. 
Primarily used in page_tag_annotations.html

Argument is simply the tag as a string.

If the tag string is invalid, then instead 
of a link, we produce a span with a class of 'invalid-tag-reference' on it nya,
both parent and child span.
*/}}
{{ with $assoc_tag := site.GetPage (print "/tags/" (. | urlize)) }}
<span class='{{- partial "tagfilter/tag_filter_css_class_gen.html" (dict "tags" (slice $assoc_tag) "is_annotation" true) -}}'>
    <a class = '{{- partial "tagfilter/tag_filter_css_class_gen.html" (dict "tags" (slice $assoc_tag) "is_annotation_link" true) -}}' href="{{- $assoc_tag.RelPermalink -}}">
        {{- $assoc_tag.Name -}}
    </a>
</span>
{{ else }}
<span class='invalid-tag-reference {{- partial "tagfilter/tag_filter_css_class_gen.html" (dict "tags_str" (slice . ) "is_annotation" true) -}}'>
    <span class = 'invalid-tag-reference'>
        {{- . -}}
    </span>
</span>
{{ end }}
