/**
 * Styling for asides with the aside shortcode nya
 *
 * Note that we use :first-child and :last-child to emulate internal padding while allowing
 * for fully inline backgrounds nya.
 */
.inline-aside, .block-aside {
    --aside-fontsize: calc(0.8 * var(--base-fontsize));
    --aside-line-height: calc(0.8 * var(--line-height));

    --aside-title-padding: 0.05rem;    
    --block-aside-vertical-padding: 0.2rem;
    --block-aside-horizontal-padding: 0.2rem;

    --inline-aside-vertical-padding: 0.1rem;
    --inline-aside-horizontal-padding: 0.2rem;
    /* So it doesn't crash into text nya */
    --inline-aside-horizontal-margin: 0.2rem;
}

.inline-aside {
    display: inline;
    margin: 0rem var(--inline-aside-horizontal-margin);
    --aside-vertical-padding: var(--inline-aside-vertical-padding);
    --aside-horizontal-padding: var(--inline-aside-horizontal-padding);
}

.block-aside {
    display: inline-block;
    /* We emulate padding via the internal elements nya*/
    --aside-vertical-padding: 0;
    --aside-horizontal-padding: 0;
}

.block-aside h1, .block-aside h2, .block-aside h3, .block-aside h4, .block-aside h5, .block-aside h6 {
    font-size: var(--aside-fontsize);
    line-height: var(--aside-line-height);
    margin-top: 0;
    /* Padding handled in first-child nya */
    margin-bottom: 0;
}

.block-aside > :first-child {
    padding-top: calc(var(--block-aside-vertical-padding) + var(--aside-title-padding));
    padding-bottom: var(--aside-title-padding);
    background-color: var(--aside-title-bg-colour);
    color: var(--aside-title-fg-colour);
    border-bottom: 0.1rem solid var(--border);
    /* Fix for borders carrying over curviness nya */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.block-aside > :last-child {
    padding-bottom: 0;
}

/* left/right padding nya*/
.block-aside > * {
    padding-left: var(--block-aside-horizontal-padding);
    padding-right: var(--block-aside-horizontal-padding);
}

.inline-aside div, .block-aside div, .inline-aside span, .block-aside span, .inline-aside div *, .block-aside div *, .inline-aside span *, .block-aside span * {
    font-size: var(--aside-fontsize);
    line-height: var(--aside-line-height);
} 

.inline-aside, .block-aside {
    padding: var(--aside-vertical-padding) var(--aside-horizontal-padding);
    margin-top: 0rem;
    margin-bottom: 0rem;
    background: var(--aside-main-bg-colour);
    color: var(--aside-main-fg-colour);
    border: 0.1rem solid var(--border);
    font-size: var(--aside-fontsize);
}

/* Fix issues with html inside asides being massive nya */
.inline-aside *, .block-aside * {
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.inline-aside, .block-aside {
    --aside-main-bg-colour: {{ $.Param "aside.default.light.main-bg-colour" | default "var(--bg)" }};
    --aside-main-fg-colour: {{ $.Param "aside.default.light.main-fg-colour" | default "var(--text)" }};
    --aside-title-bg-colour : {{ $.Param "aside.default.light.title-bg-colour" | default "var(--accent-bg)" }};
    --aside-title-fg-colour : {{ $.Param "aside.default.light.title-fg-colour" | default "var(--text-light)" }};
}

{{ with $.Param "aside.default.dark" }}
@media (prefers-color-scheme: dark) {
    .inline-aside, .block-aside {
        --aside-main-bg-colour: {{ $.Param "aside.default.dark.main-bg-colour" | default "var(--bg)" }};
        --aside-main-fg-colour: {{ $.Param "aside.default.dark.main-fg-colour" | default "var(--text)" }};
        --aside-title-bg-colour : {{ $.Param "aside.default.dark.title-bg-colour" | default "var(--accent-bg)" }};
        --aside-title-fg-colour : {{ $.Param "aside.default.dark.title-fg-colour" | default "var(--text-dark)" }};
    }
}    
{{ end }}

/* Generate per-aside-type styling*/
{{ with $aside_light_vars := $.Param "aside.light" }}
    {{ range $aside_name, $val := $aside_light_vars }} 
        {{ $safe_name := $aside_name | urlize }}
        {{ with $.Param (print "aside.light." $safe_name) }}
        /* If there are any non defaults... */
        .inline-aside.{{ $safe_name }} .block-aside.{{ $safe_name }} {
            {{ with $.Param (print "aside.light." $safe_name ".main-bg-colour") }}
                --aside-main-bg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.light." $safe_name ".main-fg-colour") }}
                --aside-main-fg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.light." $safe_name ".title-bg-colour") }}
                --aside-title-bg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.light." $safe_name ".title-fg-colour") }}
                --aside-title-fg-colour: {{ . }};
            {{ end }}
        }
        {{ end }}
    {{ end }}
{{ end }}

{{ with $aside_dark_vars := $.Param "aside.dark" }}
@media (prefers-color-scheme: dark) {
    {{ range $aside_name, $val := $aside_dark_vars }} 
        {{ $safe_name := $aside_name | urlize }}
        {{ with $.Param (print "aside.dark." $safe_name) }}
        /* If there are any non defaults... */
        .inline-aside.{{ $safe_name }} .block-aside.{{ $safe_name }} {
            {{ with $.Param (print "aside.dark." $safe_name ".main-bg-colour") }}
                --aside-main-bg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.dark." $safe_name ".main-fg-colour") }}
                --aside-main-fg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.dark." $safe_name ".title-bg-colour") }}
                --aside-title-bg-colour: {{ . }};
            {{ end }}
            {{ with $.Param (print "aside.dark." $safe_name ".title-fg-colour") }}
                --aside-title-fg-colour: {{ . }};
            {{ end }}
        }
        {{ end }}
    {{ end }}
{{ end }}

