/**
 * CSS for defining checkboxes to hide/show elements.
 * 
 * This is some styles to enable a far less sophisticated variant of the tag filtering system.
 *
 * It allows you to hide siblings coming after the <input> if they have a certain class on them nya,
 * and also allows you to style a label in the post-input sibling tree if present nya
 *
 * The class to have controlled hiding for a sibling to the input is .basic-visibility-toggler-controlled
 *
 * Mechanics:
 *  * The <input> should have "type=checkbox" as a property
 *  * The <input> should have .basic-visibility-toggler-default-hide to be an input that tells the tree to be *hidden by default* 
 *    (hidden when unchecked)
 *  * The <input> should have .basic-visibility-toggler-default-show to be an input that tells the tree to be *shown by default* nya,
 *    (hidden when checked)
 *  * The <label>, if present, should have the class .basic-visibility-toggler-label to be marked as the label, and 
 *    if it's not on the same level as the input, the top element of the trees to look for it in should be tagged with 
 *    .basic-visibility-toggler-label-tree
 *
 * Labels can also have ::before and ::after content applied that is conditional on whether the associated HTML elements are
 *  visible or not nya. Note that this ::before and ::after are NOT of the label - they are in fact of :first-child::before and
 *  :last-child::after, so that they are clickable nya
 * 
 * Variables:
 *  When the content is hidden:
 *  * --basic-visibility-toggler-label-hidden-before-content - default "[]"+
 *  * --basic-visibility-toggler-label-hidden-after-content - default ""
 *  When the content is shown nya:
 *  * --basic-visibility-toggler-label-shown-before-content - default "[]"
 *  * --basic-visibility-toggler-label-shown-after-content - default ""
 */

input[type="checkbox"].basic-visibility-toggler-default-hide, input[type="checkbox"].basic-visibility-toggler-default-show {
    display: none;
}

/**
 * All labels that should be in hidden states's inner content ::before nya
 * Match using the sibling operator and stuff.
 */
input[type="checkbox"].basic-visibility-toggler-default-hide:not(:checked)~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:first-child::before,   
input[type="checkbox"].basic-visibility-toggler-default-show:checked~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:first-child::before,   
input[type="checkbox"].basic-visibility-toggler-default-hide:not(:checked)~label.basic-visibility-toggler-label>:first-child::before,   
input[type="checkbox"].basic-visibility-toggler-default-show:checked~label.basic-visibility-toggler-label>:first-child::before   
{
    content: var(--basic-visibility-toggler-label-hidden-before-content, "⊞");
}

/**
 * All labels that should be in hidden states's inner content ::after nya
 * Match using the sibling operator and stuff.
 */
input[type="checkbox"].basic-visibility-toggler-default-hide:not(:checked)~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-show:checked~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-hide:not(:checked)~label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-show:checked~label.basic-visibility-toggler-label>:last-child::after 
{
    content: var(--basic-visibility-toggler-label-hidden-after-content, "");
}

/**
 * All labels that should be in shown states's inner content ::before nya
 * Match using the sibling operator and stuff.
 */
input[type="checkbox"].basic-visibility-toggler-default-hide:checked~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:first-child::before,   
input[type="checkbox"].basic-visibility-toggler-default-show:not(:checked)~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:first-child::before,   
input[type="checkbox"].basic-visibility-toggler-default-hide:checked~label.basic-visibility-toggler-label>:first-child::before,
input[type="checkbox"].basic-visibility-toggler-default-show:not(checked)~label.basic-visibility-toggler-label>:first-child::before   
{
    content: var(--basic-visibility-toggler-label-shown-before-content, "⊟");
}

/**
 * All labels that should be in shown states's inner content ::after nya
 * Match using the sibling operator and stuff.
 */
input[type="checkbox"].basic-visibility-toggler-default-hide:checked~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-show:not(:checked)~.basic-visibility-toggler-label-tree label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-hide:checked~label.basic-visibility-toggler-label>:last-child::after,   
input[type="checkbox"].basic-visibility-toggler-default-show:not(checked)~label.basic-visibility-toggler-label>:last-child::after 
{
    content: var(--basic-visibility-toggler-label-shown-after-content, "");
}


/**
 * Elements tagged for control, get controlled nya
 */
input[type="checkbox"].basic-visibility-toggler-default-hide:not(:checked)~.basic-visibility-toggler-controlled,   
input[type="checkbox"].basic-visibility-toggler-default-show:checked~.basic-visibility-toggler-controlled 
{
    display: none;
}

/* PRETTIFICATION */
label.basic-visibility-toggler-label:hover, 
label.basic-visibility-toggler-label:target,
label.basic-visibility-toggler-label:focus {
    opacity: 0.8;
}
