/* This bit stops preformatted code being janky nya 
 * Essentially it's the format override normally only used by simple.css for <code> in a <pre>
 * but IMO it's better on all <code> tags nyaaaAA
 * Forced precedence nya*/
:root {
    {{ $pcode := $.Param "code" | default dict }}
    --highlighted-code-colour: {{ (index $pcode "base-colour") | default "#FFF" }};
    --inner-padding-tb: {{ (index $pcode "inner-padding-tb") | default "1rem" }};
    --inner-padding-lr: {{ (index $pcode "inner-padding-lr") | default "1.4rem" }};
    --highlighted-code-size-mul: {{ (index $pcode "size-multiplier") | default "1" }};
}

/*
 * Override the opacity being set to 0.6 for videos and imgs in dark mode... it just looks dodgy imo nya
 */ 
@media (prefers-color-scheme: dark) {

    img, video {
        opacity: 1;
    }
}

div.highlight pre, pre {
    padding: var(--inner-padding-tb) var(--inner-padding-lr);
}

/* Silly matcher required to override `pre span` in simple.css even despite the .highlight class nya*/
div.highlight pre, div.highlight pre code, div.highlight pre code span, pre, pre code, pre code span {
    font-size: calc(var(--highlighted-code-size-mul) * var(--base-fontsize));
}

blockquote {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    padding-top: 0;
    padding-bottom: 0;
}

blockquote :first-child {
    margin-top: 0;
}

blockquote :last-child {
    margin-bottom: 0;
}

pre code {
    color: var(--highlighted-code-colour);
    background: none;
    margin: 0;
    padding: 0;
}

/**
 * Special Text: Headers, navbar links - NOT page title nya
 *
 * Need !important because simple.css uses it too nya
 *
 * Can also mark text as special with class .special-text
 */
h1, h2, h3, h4, h5, h6, nav a, .nav-bar a, .special-text {
    color: var(--special-text-colour) !important;
}

/**
 * SVG Text nyaa
 */
svg text {
    fill: var(--text);
    font-weight: 900;
}

/**
 * For code, as well as other preformatted text
 */
pre {
    border-radius: var(--border-radius);
}

header {
    padding: 0rem;
}

footer {
    margin: 0rem;
    padding: 0.2rem;
}

footer > * {
    margin: 0.2rem;
}

ul, ol {
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

ul > li, ol > li {
    padding: 0.1rem;
}

ul li::marker {
    margin-left: 0.1rem;
    content: "> ";
    color: var(--accent);
}

/* Flatten out tags nya 
.page-list li {
    line-height: 1.2;
}

TODO: Solve the ACTUAL issue which is hiding tags when there are too many on one page cus
its kinda ridiculous nya
*/

h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

/* Make elements immediately after headers be less far from the header nya*/
h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 0rem;
}

h1, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-bar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0rem;
}

header {
/* Necessary for mobile devices nya, also for some reason :root * is more potent than this??? wtf??? */
    border-radius: 0 !important;
}

.nav-bar a {
    padding-top: 0rem;
    margin: 0rem;
    border: none;
    border-radius: 0;
    font-weight: bold;
}

.nav-bar a:hover {
    background-color: var(--nav-link-hover-bg-colour);
}

.page-tag-list {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

/**
 * Clean up the bottom of the header/title. to make it align with other small text below nya 
 */
.page-title {
    margin-bottom: -0.5rem;
    /* Must use important! here because special text does as well because simple.css does too */
    color: var(--text) !important;
}

/**
 * Counteract for navbar nya
 */
.page-title+.nav-bar {
    margin-top: 0.5rem;
}

.page-tag-list+.nav-bar {
    margin-top: 0.2rem;
}


/**
 * Enable consistent behaviour of text borders 
 * in markdown-generated lists (sometimes there is <p>, sometimes not nya)
 **/
li p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


:root {
    /**
     * These bits have overrides with a dark scheme nya
     */
    --special-text-colour: {{ $.Param "css.light.special-text-colour" | default "var(--text)" }};
    --nav-link-hover-bg-colour: {{ $.Param "css.light.nav-link-hover-bg-colour" | default "var(--accent-bg)" }};
    {{ with $.Param "css.light.extra-vars" }} 
        {{ range $varname, $initval := . }}
            {{ (print "--" $varname ":" $initval ";") }}
        {{ end }}
    {{ end }} 
    /* Less stark version of --accent-bg. Default is --accent-bg in light mode*/
    --subtle-accent-bg:  {{ $.Param "css-light.subtle-accent-bg-colour" | default "var(--accent-bg)" }};
    /* General border radius meow */
    --border-radius: 4px;
}

:root * {
    border-radius: var(--border-radius);
}

/* Only bother if there's dark specific configs nya */
{{ with $.Param "css.dark" }}
@media (prefers-color-scheme: dark) {
    :root {
        --special-text-colour: {{ $.Param "css.dark.special-text-colour" | default "var(--text)" }}; 
        --nav-link-hover-bg-colour: {{ $.Param "css.dark.nav-link-hover-bg-colour" | default "var(--accent-bg)" }};
        {{ with $.Param "css.dark.extra-vars" }} 
            {{ range $varname, $initval := . }}
                {{ (print "--" $varname ":" $initval ";") }}
            {{ end }}
        {{ end }} 
    }
}
{{ end }}


/* table stuff */
:root table, :root td, :root th {
    /* Fix weird word breaking in header nya*/
    word-break: initial;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0;
    border: 1px double var(--border);
}

tbody tr {
    font-size: calc(var(--base-fontsize) * 0.9);
}

/* https://blog.jim-nielsen.com/2021/css-relative-colors/ 
 * Change our table rows to use a less intense background ^.^ nya
 *  >>> can't do this, not widely supported u.u cri
 * TODO: Do this when it becomes widely available cus its cool shit :3
 */
tr:nth-child(2n) {
    background: var(--accent-bg);
}

/*
 * RSS feed link - make it not underline and stuff
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/:visited
 *
 * We have to use !important to force it to override the general a:visited rule
 * This is because we cannot specifically set it in a.rss-link:visited as hiding the bar 
 * is not allowed for privacy reasons in :visited
 */
.rss-link {
    padding: 0;
    color: var(--special-text-colour) !important;
    text-decoration-line: none !important;
    /* Align it properly with the text nya */
    vertical-align: bottom;
    display: inline-block;
}


/*
 * Styling for padding/centering/etc.
 *
 * This also sets the size to match the text.
 */
.rss-svg-image {
    padding: 0;
    display: inline-block;
    width: 0.85em;
    height: 0.85em;
    vertical-align: middle;

    /* We set the border for both visible and non-visible case to avoid the element getting
     * moved on hover as the border takes up extra space nya
     * */
    border-width: 1px;
    border-style: solid;
    border-color: #0000;
    border-radius: 0;
}

.page-title .rss-svg-image {
    vertical-align: top;
}

.rss-svg-image:hover {
    border-color: var(--special-text-colour); 
}


/*
 * RSS feed image svg components
 */
.rss-svg-image-foreground {
    fill: var(--special-text-colour);
}
