/**
 * Simple chunk of css for the donation bit at the bottom of the page.
 */
.donation-region a {
    display: inline-block;
    vertical-align: middle;
}

.donation-region .front-text {
    font-weight: bold;
    margin-right: 0.5rem;
    font-size: 1.3rem;
    vertical-align: -0.2em;
}

.donation-region .liberapay-link {
    margin-bottom: 0;
    /*It's being treated as text despite being an image - this will get rid of the extra space on the bottom nyaaa */
    line-height: 0;
}
