a.imglink {
    padding: 0;
    text-decoration: none;
}

a.imglink:hover {
    opacity: 0.6;
}

a.imglink img, a.imglink svg {
    border-radius: 0;
    height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}
