/* Make page lists f a n c y */

/* Flatten ^.^ nya*/
ul.page-list {
    padding-left: 0;
}

.page-list > li::marker {
    content: "";
}

.page-list > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--special-text-colour);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: var(--subtle-accent-bg);
    border-radius: var(--border-radius);
}

/* Smaller margins from the headings ^.^ */
.page-list > li:first-of-type {
    margin-top: 0.1rem;
}

/* Links are not underlined */
.page-list li > a {
    text-decoration: none;
    /* transition: font-weight 0.3s;  Font weight is too discrete in 100s to work nya*/
}

.page-list li > a:hover, .page-list li > a:target, .page-list li > a:focus {
    font-weight: 800;
    /* transition: font-weight 0.3s; */
}

/* Summaries */
.page-list li > .summary-text {
    font-size: 0.8rem;
    padding-left: 0.8rem;
}


/* The little spacer between a filter tag list and a bare page list without a section */
.page-list-spacer {
    display: block;
    height: 0.5em;
}
