{{/*
Styles for the little annotations you see next to links on my site

Generates one using default tag colours as specified in config.toml

PARAMETERS:
    "default-tag-background-colour": default background colour for tag annotations
    "default-tag-text-colour": default text colour for tag annotations
    "default-tag-hover-css": map of <css parameter>: <css value>; substituted in nya
    
    "broken-tag-background-colour": background colour of a broken tag annotation/link
    "broken-tag-text-colour": text colour of a broken tag annotation/link
    "broken-tag-prefix-content": text to insert before the tag name if it's a broken tag
        (default '🗙 ')

    "tag-colours.<urlized-tag-name>": background colour of tag with the given name nya
    "tag-text-colours.<urlized-tag-name>": text colour of tag with the given name.
*/}}

span.annotation-tag {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-left: 0.2rem;
    margin-right: 0.2rem;

    border-radius: 100rem;
    vertical-align: middle;
    display: inline-table !important;
    
    {{ with ($.Param "default-tag-background-colour") -}}
    background-color: {{- . -}};
    {{ else -}} 
    background-color: darkgreen;
    {{ end -}}   
   

    {{ with ($.Param "default-tag-text-colour") -}}
    color: {{- . -}};
    {{ else -}} 
    color: #fff;
    {{ end -}}
}

span.annotation-tag.invalid-tag-reference {
    {{ with ($.Param "broken-tag-background-colour") -}}
    background-color: {{- . -}};
    {{ else -}} 
    background-color: var(--accent-bg);
    {{ end -}}   

    {{ with ($.Param "broken-tag-text-colour") -}}
    color: {{- . -}};
    {{ else -}} 
    color: var(--text-light);
    {{ end -}}
}

span.annotation-tag.invalid-tag-reference span.invalid-tag-reference::before {
    {{ with ($.Param "broken-tag-prefix-content") -}}
    content: {{- . -}};
    {{ else -}} 
    content: "🗙 ";
    {{ end -}}
}

span.annotation-tag:not(.invalid-tag-reference):hover, 
span.annotation-tag:not(.invalid-tag-reference):target,
span.annotation-tag:not(.invalid-tag-reference):focus {
    {{ with ($.Param "default-tag-hover-css") -}} 
        {{ range $key, $value := . -}}
        {{ print $key ":" $value ";" }}
        {{ end -}}
    {{ end -}}
}



span.annotation-tag > * {
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: 1;
}

/* Link inside the tag annotation as well as invalid tag references */
.annotation-tag-link, .invalid-tag-reference {
    font-size: 0.75rem;
    font-weight: bolder;
    text-decoration: none;
    /* Be AGGRESSIVE about it. simple.css sets stuff directly for links so we need to make 
     * our rule have higher weight. We explicitly inherit, though nya*/
    color: inherit !important;
}


/* Per tag things nya */
{{ range $tag_name, $taxo := $.Site.Taxonomies.tags -}}
    {{ $clean_tag_name := $tag_name | urlize }}
    {{ $colour_path := (print "tag-colours." $clean_tag_name) }}
    {{ $text_colour_path := (print "tag-text-colours." $clean_tag_name) }}
    {{ if or ($.Param $colour_path) ($.Param $text_colour_path) }}
    span.annotation-tag.tag-{{- $clean_tag_name -}} {
        {{ with ($.Param $colour_path) }}
        background-color: {{- . -}};
        {{ end }}
        
        {{ with ($.Param $text_colour_path) }}   
        color: {{- . -}};
        {{ end }}
    }
    {{ end }}
{{- end }}
