{{/*
This is the core CSS that performs actual filtering via checkboxes

USAGE:
 * To filter an element via a set of tag input checkboxes adjacent to a parent, first determine
   what tags it should filter by nya. Then, add the css classes `tag-<tag name>` urlized
   for each tag, as well as adding the CSS class 'adj-tag-filter' to enable filtering when
   directly adjacent as opposed to only being a child from something directly adjacent.
 * To HIDE when a tag is filtered out, apply the CSS class 'hide-with-tag-filters' to the element
 * To STRIKETHROUGH when a tag is filtered out, apply the CSS class 'strikethrough-with-tag-filters' to the element
 
 * This selector CSS also provides CSS variables and overrides when something is hidden by
   filtering, to allow for arbitrary custom styling nya 
    * Scope visibility: https://blog.logrocket.com/css-variables-scoping/
    * Working with ints-as-booleans CSS vars: https://css-tricks.com/logical-operations-with-css-variables/
   The value of:
    --tag-filtered-out: 0 when not filtered out, 1 when filtered out
    --not-tag-filtered-out: 1 when not filtered out, 0 when filtered out
   We also have a variable that is *only defined* if something is being filtered out, to 
    allow the usage of the var(--property, fallback). This variable is --is-tag-filtered-out,
    with a value of "inherit"
*/}}

:root {
    --tag-filtered-out: 0;
    --not-tag-filtered-out: 1;
}

/* Hide the input stuff meow */
input.toggle-tag {
    display: none;
}

/* Make the "tag annotation" that is used for the buttons be larger */
.annotation-tag-filter-button {
    font-size: 1rem;
    font-weight: bolder;
}


{{ range $toggler_tag, $taxo := $.Site.Taxonomies.tags }} 
{{ $toggler_id := (print "toggle-button-for-" $toggler_tag) | urlize }}
{{ $toggled_tag_class := (print "tag-" $toggler_tag) | urlize }}
input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~*  .hide-with-tag-filters.{{- $toggled_tag_class -}} {
   display: none; 
}
input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~.hide-with-tag-filters.adj-tag-filter.{{- $toggled_tag_class -}} {
   display: none; 
}

input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~*  .strikethrough-with-tag-filters.{{- $toggled_tag_class -}} {
   text-decoration: line-through; 
}
input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~.strikethrough-with-tag-filters.adj-tag-filter.{{- $toggled_tag_class -}} {
   text-decoration: line-through; 
}

input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~*  .{{- $toggled_tag_class -}} {
    --tag-filtered-out: 1;
    --not-tag-filtered-out: 0;
    --is-tag-filtered-out: inherit;
}
input.allow-tag-checkbox#{{- $toggler_id -}}:not(:checked)~.adj-tag-filter.{{- $toggled_tag_class -}} {
    --tag-filtered-out: 1;
    --not-tag-filtered-out: 0;
    --is-tag-filtered-out: inherit;
}



input.deny-tag-checkbox#{{- $toggler_id -}}:checked~*  .hide-with-tag-filters.{{- $toggled_tag_class -}} {
   display: none; 
}
input.deny-tag-checkbox#{{- $toggler_id -}}:checked~.hide-with-tag-filters.adj-tag-filter.{{- $toggled_tag_class -}} {
   display: none; 
}

input.deny-tag-checkbox#{{- $toggler_id -}}:checked~*  .strikethrough-with-tag-filters.{{- $toggled_tag_class -}} {
   text-decoration: line-through; 
}
input.deny-tag-checkbox#{{- $toggler_id -}}:checked~.strikethrough-with-tag-filters.adj-tag-filter.{{- $toggled_tag_class -}} {
   text-decoration: line-through; 
}

input.deny-tag-checkbox#{{- $toggler_id -}}:checked~*  .{{- $toggled_tag_class -}} {
    --tag-filtered-out: 1;
    --not-tag-filtered-out: 0;
    --is-tag-filtered-out: inherit;
}
input.deny-tag-checkbox#{{- $toggler_id -}}:checked~.adj-tag-filter.{{- $toggled_tag_class -}} {
    --tag-filtered-out: 1;
    --not-tag-filtered-out: 0;
    --is-tag-filtered-out: inherit;
}

{{ end }}

