{{/* 
Shortcode for adding an aside of some type nya.

Format is:

{{< aside [aside-type default 'aside'] [inline or block default block] >}} content {{< /aside >}}

Inline asides look like the following:
<span role='note' class='inline-aside [aside-<aside-type> | urlize]'>
    <span class='aside-unicode-prefix'>[small unicode prefix (default "")]</span>
    <span>content</span>
</span>

Note that we do not use aside tags for that because
when Hugo inserts the shortcode it assumes that the aside
has the default block display, and hence forces an end of the 
current markdown paragraph tag, which breaks things nya

block asides look like the following:
<div role='note' class='block-aside [aside-<aside-type>] | urlize'>
    <h6><span class='aside-unicode-prefix'>[small unicode prefix]</span>[aside type title (default aside-type | title)]</h6>
    <div>content</div>
</div>

The small unicode prefix is controlled by the page/site param `aside.prefix.{aside-type | urlize}`

The title is controlled by the page/site param `aside.title.{aside-type | urlize}`

Can also be overridden on a per-aside basis to take advantage of the aside styling and stuff, by providing a 
third parameter nya
*/}}
{{- $aside_type_raw := .Get 0 | default "aside" }}
{{- $aside_type := $aside_type_raw | urlize }}
{{- $is_inline := eq (.Get 1 | default "block") "inline" }}
{{- $small_unicode_prefix := .Page.Param (delimit (slice "aside" "prefix" $aside_type) ".") | default "" }}
{{- $aside_title := .Get 2 | default (.Page.Param (delimit (slice "aside" "title" $aside_type) ".") | default ($aside_type_raw | title)) }}
{{- $css_class := (print "aside-" $aside_type) }}

{{- if $is_inline -}}
<span role='note' class='inline-aside {{ $css_class }}'>
    <span class='aside-unicode-prefix'>{{ $small_unicode_prefix }}</span>
    <span>{{- .Inner | .Page.RenderString | safeHTML -}}</span>
</span>
{{- else -}}
<div role='note' class='block-aside {{ $css_class }}'>
    <h6><span class='aside-unicode-prefix'>{{ $small_unicode_prefix }}</span>{{ $aside_title }}</h6>
    <div>{{- .Inner | .Page.RenderString | safeHTML -}}</div>
</div>
{{- end }}
