{{ define "head" }}
    {{ partial "head.html" . }}
    {{ partial "tagfilter/head_include_tag_filters.html" . }}
{{ end }}

{{ define "main" }}
    {{ $tags := slice }}
    {{ range $pg := $.Pages }}
        {{ $tags = union $tags ($pg.GetTerms "tags") }}
    {{ end }}
    
    {{ partial "tagfilter/page_tag_selector_inputs.html" (dict "tags" $tags "pg" .) }}
    <p>404s and broken links really suck, so here's some fun things to do:</p>
    <ul>
        <li><a href="/">Go back to the site homepage</a></li>
        <li><a href="/tags">Look at tags to find posts that interest you</a></li>
        <li>Take a look at the filterable list of all pages on the site below</li>
        <li>Leave the site</li>
    </ul>
    {{- partial "tagfilter/page_tag_selector_labels.html" (dict "filter_tags" $tags) -}}
    {{ partial "page_list.html" (dict "pg" .Page  "pgs" .Pages "remove_shared_tags" false) }}
{{ end }}
