{{ $varname := (.Get 0) }}
{{ $varvalue := (.Page.Param $varname) }}
{{ with .Inner }}
    <a href="{{- $varvalue -}}">{{- . -}}</a>
{{ else }}
    <a href="{{- $varvalue -}}">{{- $varname -}}</a>
{{ end }}
