<p>Copyright (c) 2021 sapient_cogbag - Content under CC0, hugo theming under GPLv3+</p>
<p class="donation-region">
<span class="front-text">HELP ME:</span>
<a class="liberapay-link"  href="https://liberapay.com/sapient_cogbag/donate"><img loading="lazy" alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
<br/>
<span class="front-text">SHARE PAGE ON:
</span>
{{ partial "social_share/socialshares.html" . }}
</p>
<p>Thanks to <a href="https://simplecss.org/">the author of simple.css, Kev Quirk, for providing a clean base to work from</a></p>
<p>Thanks to <a href="https://katex.org/">KaTeX</a> for all their efforts in ensuring I can render <a href="https://katex.org/docs/supported.html">all of this stuff!</a></p>

<p>
    {{ with .PrevInSection }}
    <a href="{{- .RelPermalink -}}">&lt= prev</a>
    {{ else }}
    <span>&lt= prev</span>
    {{ end }}

    <span> | </span>

    {{ with .Parent }}
    <a href="{{- .RelPermalink -}}">parent</a>
    {{ else }}
    <span> parent </span>
    {{ end }}

    <span> | </span>

    {{ with .NextInSection }}
    <a href="{{- .RelPermalink -}}">next =&gt</a>
    {{ else }}
    <span>next =&gt</span>
    {{ end }}
</p>
