<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial_scale=1"/>
<meta name="description" content='{{- index $.Params "meta-description" | default $.Summary -}}'/>
{{/* Privacy measure - sitewide blocking of referrer information*/}}
<meta name="referrer" content="no-referrer"/>
<title> {{ .Title }} | {{ .Site.Title }}</title>

{{/* Alternate media types */}}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{/* see https://gohugo.io/templates/rss/#reference-your-rss-feed-in-head */}}

{{ $core_css := resources.Get "css/core/core.css" | resources.ExecuteAsTemplate "css/core/core.css" . }}
{{ $core_override_css := resources.Get "css/core/core-override.css" | resources.ExecuteAsTemplate "css/core/core-override.css" . }}
{{ $core_aside_css := resources.Get "css/core/aside-formatting.css" | resources.ExecuteAsTemplate "css/core/aside-formatting.css" . }}
{{ $core_titled_block := resources.Get "css/core/titled-block.css" | resources.ExecuteAsTemplate "css/core/titled-block.css" . }}
{{ $core_checkbox_element_hider := resources.Get "css/core/checkbox-element-hider.css" | resources.ExecuteAsTemplate "css/core/checkbox-element-hider.css" . }}


{{ $core_page_list := resources.Get "css/core/page-list.css" | resources.ExecuteAsTemplate "css/core/page-list.css" . }}
{{ $core_donation_region := resources.Get "css/core/donation-region.css" | resources.ExecuteAsTemplate "css/core/donation-region.css" . }}
{{ $core_image_link := resources.Get "css/core/image-link.css" | resources.ExecuteAsTemplate "css/core/image-link.css" . }}
{{ $core_social_share := resources.Get "css/core/social-share.css" | resources.ExecuteAsTemplate "css/core/social-share.css" . }}
{{ $core_tag_annotation_style := resources.Get "css/core/tag-annotation-styles.css" | resources.ExecuteAsTemplate "css/core/tag-annotation-styles.css" . }}

{{ $core_bundle_css := (slice 
    $core_css 
    $core_override_css 
    $core_aside_css 
    $core_titled_block

    $core_page_list 
    $core_image_link
    $core_social_share

    $core_checkbox_element_hider 
    $core_tag_annotation_style 
    $core_donation_region
    )| resources.Concat "css/core-bundle.css" | resources.Minify | resources.Fingerprint "sha512" 
}}
<link type="text/css" rel="preload" href="{{- $core_bundle_css.RelPermalink -}}" integrity="{{- $core_bundle_css.Data.Integrity -}}" as="style"/>
<link type="text/css" rel="stylesheet" href="{{- $core_bundle_css.RelPermalink -}}" integrity="{{- $core_bundle_css.Data.Integrity -}}"/>

{{/* Favicon Preload*/}}
<link type="image/svg" rel="preload" href="/favicon.svg" integrity='{{- $.Param "favicon-integrity" -}}' as="image"/>
<link type="image/svg" rel="icon" href="/favicon.svg" integrity='{{- $.Param "favicon-integrity" -}}'/>

{{/* The dollar part is not a perfect heuristic nya */}}
{{ if (or (or (.HasShortcode "m") (.HasShortcode "dm")) (gt (len (findRE "\\$[^<⁣>]*?\\$;" .Content )) 0)) }}
    {{ $katex_style := resources.Get "katex/katex.min.css" | resources.Fingerprint "sha512" }}
    {{ $katex_js := resources.Get "katex/katex.min.js" | resources.Fingerprint "sha512" }}
    {{ $katex_autoload_js := resources.Get "katex/contrib/auto-render.min.js" | resources.Fingerprint "sha512" }}

    <link type="text/css" rel="preload" href="{{- $katex_style.RelPermalink -}}" integrity="{{- $katex_style.Data.Integrity -}}" as="style"/>
    <link type="text/css" rel="stylesheet" href="{{- $katex_style.RelPermalink -}}" integrity="{{- $katex_style.Data.Integrity -}}"/>
    {{ if .Site.IsServer }}
    {{/* https://www.w3schools.com/tags/att_script_defer.asp */}}
    <script defer src="{{- $katex_js.RelPermalink -}}" integrity="{{- $katex_js.Data.Integrity -}}"></script>
    <script defer src="{{- $katex_autoload_js.RelPermalink -}}" integrity="{{- $katex_autoload_js.Data.Integrity -}}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                // FROM: https://katex.org/docs/autorender.html
                // We use an obscure sequence of characters so it is impossible to *accidentally*
                // trigger the autorender nya. We also allow for a $ on the inside, so that 
                // adding one in the shortcode string (for markdown preview purposes) works all fine.
                delimiters: [
                    {left: '\\beginDMATHSmaths $', right: '$ \\endDMATHSmaths', display: true},
                    {left: '\\beginDMATHSmaths', right: '\\endDMATHSmaths', display: true},
                    {left: '\\beginMATHSmaths $', right: '$ \\endMATHSmaths', display: false},
                    {left: '\\beginMATHSmaths', right: '\\endMATHSmaths', display: false},
                    {left: '$$', right: '$$;', display: true},
                    {left: '$', right: '$;', display: false}
                ]
            })
        })
    </script>
    {{ else }}
    <PARSE-FOR-MATHS-RENDERING-PLEASE-AND-THANK-YOU-NYAA>
    {{ end }}
{{ end }}

{{/* White-Background */}}
{{ if (.Param "media_wb" | default false) }}
<style>
    img {
        background: #FFF;
    }
</style>
{{ end }}
