{{- with .Page.Params.or }}<small>...or, {{ . -}}</small>{{- end -}}
{{- with .Page.Params.and }}<small>...and, {{ . -}}</small>{{- end -}}
{{- if (gt (len (.Page.GetTerms "tags")) 0) -}}
<div class="page-tag-list">
    <div>
    {{- partial "page_tag_annotations.html" (dict "tags" (.Page.GetTerms "tags")) -}}    
    </div>
</div>
{{- end -}}

<nav class="nav-bar">
    <a href="{{- (.Site.GetPage "/").RelPermalink -}}">Home</a>
    <a href="{{- (.Site.GetPage "/articles").RelPermalink -}}">Articles</a>
    <a href="{{- (.Site.GetPage "/blog").RelPermalink -}}">Blogposts</a>
    <a href="{{- (.Site.GetPage "/tags").RelPermalink -}}">All Tags</a>
    <a href="{{- (.Site.GetPage "/tags/series").RelPermalink -}}">All Series</a>
    <a href="{{- (.Site.GetPage "/about").RelPermalink -}}">About & Contact</a>
    <div class="social-share-text">[share page on
    {{- partial "social_share/socialshares.html" . -}}
    ]</div> 
</nav>


