{{/*
Construct a list of pages.

Argument dictionary:
    * .pg - The current page
    * .pgs - A slice of the pages to list out meow
    * .sections_potentially_flattened - Optional slice of sections that may have been flattened in the construction of the list of pages.
      Order *does* matter - when listing the parents of a page, this list is scanned in order for ancestry with earlier elements 
      appearing first if they were flattened nya.
    * .local_tags - Optional, tells us what tags can be assumed to be shared between all listed pages. Note that
      these are *non-stringized* tags, more like the stuff from .GetTerms or `fn/destringize_terms`
      Default is tags of current page.
    * .local_tags_str - Like local_tags, but pre-stringized. If present, overwrites .local_tags, defaults are
      the same as .local_tags nya
    * .remove_shared_tags - Optional. Dictates whether or not to remove tags shared/local-to all
      pages in the list. Default - true.
    * .remove_listed_series - Optional. When true, remove pages with the tag "series" from displaying - this is useful as it
      allows sharing code between sections and series for flattening but preventing them from being displayed
      Default: false
    * .sort_pages_field - Optional string.
      What field of the pages to sort by - default is "Date" - see https://gohugo.io/functions/sort/#readout
    * .sort_pages_asc_or_desc - Optional string, default "desc", indicating direction of sort
      See - https://gohugo.io/functions/sort/#readout
    * .outer_list_id - Optional string. If present, set the HTML ID of the outer list.
    * .outer_list_extra_classes - Optional string. If present, glue into the classes 
       variable of the outer list.
    * .list_element_extra_classes - Optional string. If present, glue into the classes of 
       each element of the generated list.

*/}}

{{ $remove_listed_series := .remove_listed_series | default false }}
{{ $sort_pages_field := .sort_pages_field | default "Date" }}
{{ $sort_pages_asc_or_desc := .sort_pages_asc_or_desc | default "desc" }}

{{ $local_page := .pg }}
{{ $potentially_flattened_sections := .sections_potentially_flattened | default (slice) }}

{{ $local_tags_scr := newScratch }}
{{ $local_tags_scr.Set "res" (.local_tags | default ($local_page.GetTerms "tags"))}}
{{ partial "fn/stringize_terms" $local_tags_scr }}
{{ partial "fn/deduplicate_slice" $local_tags_scr }}
{{ $local_tags_str := .local_tags_str | default ($local_tags_scr.Get "res") }}

{{ $pgs := .pgs }}

<ul 
    class="page-list {{ if .outer_list_extra_classes }}{{ .outer_list_extra_classes }}{{ end }}" 
    {{ if .outer_list_id }}id = "{{ .outer_list_id }}"{{ end }}
>
{{/* Decending order - most recent first ^.^ nyaa */}}
{{- range $pg := sort $pgs $sort_pages_field $sort_pages_asc_or_desc -}}
    {{ $tags_scr := newScratch }}
    {{ $tags_scr.Set "res" ($pg.GetTerms "tags") }}
    {{ partial "fn/stringize_terms" $tags_scr }}
    {{ partial "fn/deduplicate_slice" $tags_scr }}
    {{ if ($.remove_shared_tags | default true)}}
        {{ $tags_scr.Set "res" (($tags_scr.Get "res") | complement $local_tags_str) }}
    {{ end }}
    {{ $tags_str := $tags_scr.Get "res" }}
    {{ if (or (not $remove_listed_series) (not (in $pg.Params.tags "series"))) }}
    <li 
        role = "article" 
        aria-labelledby="{{- $pg.RelPermalink | anchorize -}}"  
        class = '{{ partial "tagfilter/tag_filter_css_class_gen.html" (dict "tags_str" $tags_str "hide" true) }} {{ if $.list_element_extra_classes }} {{ $.list_element_extra_classes }}{{ end }}'
    >
        {{ range $mfls := $potentially_flattened_sections }}
            {{ if (and ($pg.IsDescendant $mfls) (ne $pg $mfls)) }}
                <a href="{{- $mfls.RelPermalink -}}">[{{- index $mfls.Params  "shorttitle" | default ($mfls.LinkTitle | lower) -}}]</a>
            {{ end }}
        {{ end }}
        <a id="{{- $pg.RelPermalink | anchorize -}}" href="{{- $pg.RelPermalink -}}"> 
            {{- $pg.LinkTitle -}}
        </a>
        {{- with $pg.Params.or }}<small> ...or, {{ . -}}</small>{{- end -}}
        {{- with $pg.Params.and }}<small> ...and, {{ . -}}</small>{{- end -}}
        {{- partial "rss_link.html" $pg -}}
        {{- partial "page_tag_annotations.html" (dict "tags_str" $tags_str) -}}
        <p class="summary-text">
            {{ .RenderString $pg.Summary}}
            {{ if $pg.Truncated -}} 
            <a href="{{- $pg.RelPermalink -}}">Read more...</a>
            {{- end -}}
        </p>
    </li>
    {{ end }}
{{- end -}}
</ul>
