{{/*
    Generate an RSS link using the unicode RSS feed character, 
    for the page passed in as context

    If the page does not have rss, does nothing :) nya

    Note this is based on https://gohugo.io/templates/rss/#the-embedded-rssxml

    Uses modified version of SVG logo from https://www.svgrepo.com/svg/25140/rss
    Licensed as CC0 at time of writing!
*/}}

{{ $pg := . }}
{{- with $pg.OutputFormats.Get "rss" }}
{{ printf `
<a rel="%s" type="%s" href="%s" title="%s" class="rss-link">
<svg 
    version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    x="0px" 
    y="0px"
	viewBox="0 0 455.731 455.731" 
    xml:space="preserve"
    class = "rss-svg-image"
>
<g>
    <!--
        Only need fg here, so no bg
	<rect 
        x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"/>
    !-->
	<g>
		<path 
            class="rss-svg-image-foreground" 
            d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348
			c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348
			C391.986,303.103,357.971,220.923,296.208,159.16z"
        />
		<path 
            class="rss-svg-image-foreground" 
            d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348
			C282.429,270.196,184.507,172.273,64.143,172.273z"    
        />
		<circle 
            class="rss-svg-image-foreground" 
            cx="109.833" 
            cy="346.26" 
            r="46.088"
        />
	</g>
</g>
</svg>
</a>` .Rel .MediaType.Type .Permalink (printf "%s RSS Feed" $pg.Title) | safeHTML }}
{{ end -}}
